@import "nav.scss";

// Global styles
iframe {
  display: block;
  overflow: hidden;
  border: none; /* Reset default border */
  height: calc(100vh - 50px); /* Viewport-relative units */
  width: calc(100% + 0px);
  //margin-top: 56px;
}

.form {
  padding-top: 10px;
}
.awssld__bullets {
  position: relative !important;
  bottom: 0px !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
.carousel {
  background-color: lightslategray;
  .carousel-inner {
    margin: 0 auto;
    max-width: 1140px;
  }
  .carousel-item {
    height: 120px;
    // background-image: url("/images/banners-publicite-aqui.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
