.mi-pedido {
  .hero {
    background-image: url("/images/mis-pedidos.jpg");
    height: 180px;
    background-position: center;

    .herp-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: rgba(1, 1, 1, 0.3);
    }

    .hero-title {
      color: white;
      font-size: 32px;
      text-align: center;
      font-style: italic;
      padding: 0;
      text-shadow: 0px 5px 8px black, 0 4px black, 2px 0 black, 0 3px black;
    }
    .hero-text {
      color: white;
      text-align: center;
      font-style: italic;
      font-weight: bold;
      padding: 0;
      text-shadow: 0px 5px 8px black, 0 4px black, 2px 0 black, 0 3px black;
    }
  }

  .box-find {
    padding: 20px;
    margin: 20px 0;
    background-color: #24a237;
    form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-flow: wrap;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .box-find--input {
        display: flex;
        align-items: center;
      }
      h2 {
        font-weight: bold;
        color: white;
        margin: 5px;
        font-size: 20px;
      }

      input {
        margin: 5px;
        border-radius: 0.25rem;
        padding: 0.375rem 0.75rem;
        border: 1px solid #ced4da;
        background-clip: padding-box;
        &.codigo {
          width: 100px;
        }
        &.email {
          flex: 1;
        }
      }
      button {
        margin: 5px;
      }
    }
    .alert {
      font-weight: bold;
      color: red;
      background-color: white;
    }
    p {
      margin: 20px;
      color: white;
      text-align: center;
      font-size: 18px;
    }
  }

  .container {
    .title {
      padding: 30px 0 15px;
      font-size: 24px;
    }
    .text {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  .card-header {
    background-color: teal;
    color: white;
  }
  .main-header {
    background-color: black;
    color: white;
    font-weight: bold;
  }
  .totales {
    background-color: black;
    color: white;
    font-weight: bold;
  }
  .sub-totales {
    background-color: gray;
    color: white;
    font-weight: bold;
  }
  .total-almacen {
    label {
      margin-right: 10px;
    }
  }
  table td .pedido-detail-item-title {
    text-align: center;
    background-color: lightgray;
    padding: 10px 0;
    color: #000000ab;
  }

  .secondary-header {
    background-color: #e9ecef;
    color: black;
    font-weight: bold;
  }
  .secondary-header th {
    padding: 0 12px;
  }

  table {
    margin-bottom: 0 !important;
    tr {
      th {
        vertical-align: middle;
        &.col-unitario {
          width: 102px;
        }
        &.col-total {
          width: 137px;
        }
      }
      td {
        vertical-align: middle;
        &.pedido-detail-mobile {
          padding: 0;
          .space {
            background-color: white;
            height: 15px;
          }
        }
      }
      &.bg-entregado {
        background-color: #00800070 !important;
        color: white;
        a {
          color: white;
        }
      }
      &.bg-danger {
        color: white;
        a {
          color: white;
        }
      }
      &.bg-success {
        color: white;
        a {
          color: white;
        }
      }
    }
  }
  .bg-primary {
    color: white;
  }
  .subtotales {
    background-color: gray;
    color: white;
    font-weight: bold;
  }
  .cell-right {
    text-align: right;
  }
  .cell-center {
    text-align: center;
  }
  .alert-estado {
    padding: 20px;
    margin: 20px;
    font-size: 20px;
  }
  .esquema-colores {
    margin: 20px 0;
    padding: 10px;
    background-color: #e9ecef;
    .esquema-colores--title {
      font-size: 20px;
      font-weight: bold;
    }
    .esquema-colores--box {
      display: flex;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      div {
        display: flex;
        align-items: center;
      }
      span {
        height: 20px;
        width: 20px;
        display: inline-block;
        margin: 10px;
        &.esquema-colores--anulado {
          background-color: red;
        }
        &.esquema-colores--cambio-precio {
          background-color: #007bff;
        }
      }
    }
  }

  .horarios-box {
    margin: 10px 0;
    background-color: #0e7b27;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    button {
      margin-top: 10px;
      font-weight: bold;
    }
  }
  .horarios-box--title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
  }
  .horario-error {
    margin: 10px 0;
    padding: 10px;
    background-color: red;
  }
  .horarios-box--seleccionado {
    padding: 10px 0;
    span {
      margin: 0 5px;
    }
  }
  .horarios-box--seleccion {
    padding: 10px 0;
    display: flex;
    align-items: center;
    span {
      flex: 1;
      margin: 0 10px;
      text-align: right;
    }
    select {
      flex: 1;
      margin: 0 10px;
      padding: 5px;
      background-color: white;
    }
  }
}
