// Global styles
body {
  font-size: 18px;
}
.navbar-brand {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 720px) {
  .navbar-brand {
    font-size: 16px;
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  padding-top: 120px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  text-align: center;
}

// Home page
.jumbotron {
  text-align: center;
}
.main-image {
  width: 50%;
}

// Detalle del pedido
table {
  td {
    &.pedido-detail-mobile {
      padding: 0;
      .space {
        background-color: white;
        height: 15px;
      }
    }
    .pedido-detail-item-title {
      text-align: center;
      background-color: teal;
      padding: 10px 0;
      color: white;
    }
  }
}
// Other pages
table {
  tr {
    font-weight: bold;
    th {
      vertical-align: middle;
    }
    td {
      vertical-align: middle;
    }
    &.bg-danger {
      color: white;
      a {
        color: white;
      }
    }
    &.bg-success {
      color: white;
      a {
        color: white;
      }
    }
  }
  font-size: 16px;
  .cell-right {
    text-align: right;
  }
  .cell-center {
    text-align: center;
  }
  .main-header {
    background-color: black;
    color: white;
    font-weight: bold;
  }
  .secondary-header {
    background-color: #d4edda;
    color: black;
    font-weight: bold;
  }
  .totales {
    background-color: black;
    color: white;
    font-weight: bold;
  }
}
.navbar-dark {
  .navbar-text.current-user {
    color: white;
    font-weight: bold;
  }
}

// Modal styles
.react-confirm-alert-overlay {
  background: rgba(100, 100, 100, 0.9);
}
.react-confirm-alert-body {
  text-align: center;
}

.react-confirm-alert-button-group {
  justify-content: center;
  button.btn-success {
    background: #28a745;
  }
  button.btn-success:hover {
    background: #218838;
  }

  button.btn-danger {
    background: #dc3545;
  }
  button.btn-danger:hover {
    background: #c82333;
  }
}

// Forms styles
.form-group {
  .form-check {
    display: inline-block;
    margin-right: 10px;
  }
}

//Nav

.breadcrumb {
  background-color: teal;
  a {
    color: white;
  }
  .breadcrumb-item.active {
    color: white;
  }
}
