@import "nav.scss";

// Global styles
body {
  font-size: 18px;
  ul {
    padding-left: 20px;
  }
  .container {
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
}

iframe {
  display: block;
  overflow: hidden;
  border: none; /* Reset default border */

  width: calc(100% + 0px);
  //margin-top: 56px;
}

.main-container {
  padding-top: 65px;
  padding-bottom: 70px;
}
footer {
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  padding-top: 120px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  //cursor: pointer; /* Add a pointer on hover */
  text-align: center;
}

// Home page
.home-page {
  background: url(/images/home.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  .main-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    .secondary-box {
      position: relative;
      top: 25%;
      text-align: center;
      color: white;
      font-family: cursive;
      h1 {
        font-family: fantasy;
        font-weight: bolder;
        font-size: 56px;
      }
      h2 {
        font-size: 42px;
      }
    }
  }
}
.jumbotron {
  text-align: center;
}
.main-image {
  width: 50%;
}

// Entregas config
.entregas-config {
  .btn-lg {
    width: 100%;
    font-weight: bold;
  }
  .btn-pasos {
    width: 250px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .btn:focus {
    box-shadow: none;
  }
  .horarios-error {
    color: red;
  }
  .horarios-box {
    background-color: #e9ecef;
    padding: 20px;
    margin: 20px;
    span {
      margin: 5px;
    }
    .horarios-box--title {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
    .horarios-box--subtitle {
      display: flex;
      justify-content: center;
      border: 1px solid green;
      background-color: #00800066;
      font-weight: bold;
      margin: 10px;
      @media (max-width: 720px) {
        flex-direction: column;
      }
      div {
        margin: 10px;
      }
    }

    .horarios-box--dia {
      display: flex;
      align-items: center;
      padding: 5px;
      justify-content: center;
      @media (max-width: 720px) {
        flex-direction: column;
      }
    }
    .react-datepicker__input-container {
      input {
        width: 120px;
        padding: 0.375rem 0.75rem;
        color: #495057;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }
  }
}

// Entrega
.entrega-historial {
  .totales {
    text-align: right;

    @media (max-width: 575px) {
      padding-top: 20px;
    }
  }
}

// Listado de Pedidos
.pedidos-list {
  .whatsapp {
    width: 21px;
    margin-bottom: 3px;
    &.selected {
      border-radius: 25px;
      border: 3px solid red;
      width: 24px;
    }
  }
  .pedidos-list--header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  table {
    td {
      vertical-align: middle;
      &.cell-icon {
        text-align: center;
        width: 44px;
        font-size: 18px;
        b {
          font-size: 16px;
        }
      }
    }
  }
}

// Listado de Productos
.productos-list {
  .form-check-input {
    position: relative;
    display: inline;
    margin-right: 10px;
  }
  .form-check-label {
    display: inline;
  }
  table {
    td,
    th {
      vertical-align: middle;
      &.cell-icon {
        text-align: center;
        width: 44px;
      }
    }
  }
}
// Detalle del pedido
.pedido-detail {
  .pedido-detail--title {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 5px;
  }
  .pedido-detail--direccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pedido-detalle-botones {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    @media (max-width: 620px) {
      flex-direction: column;
    }
  }
  .pedido-detalle-botones--left {
    display: flex;
    button {
      margin-right: 10px;
    }
    @media (max-width: 620px) {
      flex-direction: column;
      button {
        margin-right: 0;
        margin-top: 10px;
      }
    }
  }
  .pedido-detalle-botones--right {
    // button {
    //   margin-left: 10px;
    // }
    @media (max-width: 620px) {
      margin-top: 10px;
      display: flex;

      button {
        flex: 1;
      }
    }

    @media (min-width: 575px) {
      display: flex;
      justify-content: flex-end;
    }
  }
  .map-position {
    text-align: right;

    @media (max-width: 769px) {
      text-align: left;
    }
  }
  .card-header {
    background-color: teal;
    color: white;
    display: flex;
    justify-content: space-between;
    @media (max-width: 769px) {
      flex-direction: column;
    }
    .title {
      margin-bottom: 10px;
    }
    .text {
      font-weight: bold;
      border-radius: 10px;
      padding: 4px 10px;
      text-align: center;
    }
    .text-0 {
      color: white;
      border: 1px solid white;
    }
    .text-1 {
      background-color: #ffc107;
      border: 1px solid white;
      color: white;
    }
    .text-2 {
      background-color: #17a2b8;
      border: 1px solid white;
      color: white;
    }
    .text-3 {
      background-color: #28a745;
      border: 1px solid white;
      color: white;
    }
  }
  .field-pago {
    display: inline-block;
    width: 80px;
  }
  .btn-reset-pago {
    padding: 5px;
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .table td {
    vertical-align: middle;
  }
  .form-group {
    input.form-control {
      width: unset;
      max-width: 80px;
      display: inline-block;
      margin-left: 10px;
    }
  }
}
table {
  margin-bottom: 0 !important;
  td {
    &.pedido-detail-mobile {
      padding: 0;
      .space {
        background-color: white;
        height: 15px;
      }
    }
    .pedido-detail-item-title {
      text-align: center;
      background-color: lightgray;
      padding: 10px 0;
      color: #000000ab;
    }
  }
}
// Other pages
table {
  tr {
    //font-weight: bold;
    th {
      &.col-unitario {
        width: 102px;
      }
      &.col-total {
        width: 137px;
      }

      vertical-align: middle;
    }
    td {
      vertical-align: middle;
    }
    &.bg-entregado {
      background-color: #00800070 !important;
      color: white;
      a {
        color: white;
      }
      svg {
        &.text-primary {
          color: white !important;
        }
      }
    }
    &.bg-listo {
      background-color: #17a2b8 !important;
      color: white;
      a {
        color: white;
      }
      svg {
        &.text-primary {
          color: white !important;
        }
      }
    }
    &.bg-guardado {
      background-color: #ffc107 !important;
      color: white;
      a {
        color: white;
      }
      svg {
        &.text-primary {
          color: white !important;
        }
      }
    }

    &.bg-danger {
      color: white;
      a {
        color: white;
      }
    }
    &.bg-success {
      color: white;
      a {
        color: white;
      }
    }
  }
  font-size: 16px;
  .cell-right {
    text-align: right;
  }
  .cell-center {
    text-align: center;
  }
  .main-header {
    background-color: black;
    color: white;
    font-weight: bold;
    @media (max-width: 575px) {
      font-size: 20px;
    }
  }
  .secondary-header {
    background-color: #e9ecef;
    color: black;
    font-weight: bold;
  }
  .secondary-header th {
    padding: 0 12px;
  }
  .totales {
    background-color: black;
    color: white;
    font-weight: bold;
  }
  .subtotales {
    background-color: gray;
    color: white;
    font-weight: bold;
  }
}

// Modal styles
.react-confirm-alert-overlay {
  background: rgba(100, 100, 100, 0.9);
}
.react-confirm-alert-body {
  text-align: center;
}

.react-confirm-alert-button-group {
  justify-content: center;
  button.btn-success {
    background: #28a745;
  }
  button.btn-success:hover {
    background: #218838;
  }

  button.btn-danger {
    background: #dc3545;
  }
  button.btn-danger:hover {
    background: #c82333;
  }
}

// Forms styles
.form-group {
  .form-check {
    display: inline-block;
    margin-right: 10px;
  }
}
.form-control-mobile {
  display: inline-block;
  width: 40%;
}
ol.breadcrumb {
  background-color: teal;
  a {
    color: white;
  }
  .breadcrumb-item.active {
    color: white;
  }
}

// Seccion de horarios
